@model List<SIMS.Models.Person>


@{
    Layout = "_AdminLayout";
}

<h2>People List</h2>
<div class="actionBtnBox">
    <button class="btn btn-primary" onclick="">add</button>
    <button class="btn btn-primary" onclick="">delete</button>
</div>

<div style="max-width: 100%; overflow-x: auto; border: 1px solid #ddd; border-radius: 8px; padding: 10px; background: #fafafa;">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Person ID</th>
                <th>Full Name</th>
                <th>Citizen ID</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Nationality</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.PersonId</td>
                    <td>@s.FullName</td>
                    <td>@s.CitizenIdNumber</td>
                    <td>@(s.Gender.HasValue ? (s.Gender.Value ? "Male" : "Female") : "N/A")</td>
                    <td>@(s.DateOfBirth.HasValue? s.DateOfBirth.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                    <td>@s.Email</td>
                    <td>@s.PhoneNumber</td>
                    <td>@s.Address</td>
                    <td>@s.Nationality</td>
                </tr>
            }
        </tbody>
    </table>
</div>

